.header-container {
    padding: 0.75rem 0.5rem;
    display: flex;
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
}

.header img,
.header button {
    width: 1em;
    /* width: 0.75em; */
    height: auto;
}

.header button {
    width: 1.25em;
    /* width: 0.75em; */
    height: auto;
}



.header-logo {
    font-size: 1.35rem;
    flex-grow: 5;
}

.header-logo .header-logo-game {
    font-weight: 500;
}

.header-logo .header-logo-scraper {
    font-weight: 600;
    color: var(--clr-sky300);
}





.search-section-wrapper {
    /* margin-left: auto; */
    flex-grow: 1;
}

.search-section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 1em;
    background-color: var(--clr-slate900);
    padding: 0 0.5rem;
    /* font-size: 1.3rem; */
}

.search-icon {
    margin-right: 0.5rem;
}

.search-bar {
    all: unset;
    color: inherit;
    background-color: inherit;
    width: 100%;
    padding-right: 0.5rem;
    font-size: 0.8em;
}

.search-bar::placeholder {
    /* font-size: 1em; */
    color: var(--clr-slate500);
}


.hidden {
    display: none;
}

.hidden-but-present {
    visibility: hidden;
    /* display: none; */
}


@media (min-width: 500px) {
    .header-logo {
        font-size: 1.5rem;
    }

    .search-bar {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .header-logo {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .header-logo {
        font-size: 2.5rem;
    }

    .search-section {
        font-size: 1.1rem;
    }
}