.header-container {
    padding: 0.75rem 0.5rem;
    display: flex;
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    font-size: 1rem;
}

.header-logo {
    font-size: 1.35rem;
    flex-grow: 5;
}

.header-logo .header-logo-game {
    font-weight: 500;
}

.header-logo .header-logo-scraper {
    font-weight: 600;
    color: var(--clr-sky300);
}





.search-section-wrapper {
    /* margin-left: auto; */
    flex-grow: 1;
}

.search-section {
    display: flex;
    border-radius: 1em;
    background-color: var(--clr-slate900);
    padding: 0.25rem 0.5rem;
}



.search-bar {
    all: unset;
    color: inherit;
    background-color: inherit;
    width: 100%;
    font-size: 0.8em;
    height: 90%;
}

.search-bar::placeholder {
    color: var(--clr-slate500);
}



.search-icon {
    margin-right: 0.5rem;
    width: 0.9em;
    /* width: 0.75em; */
    height: auto;
}

.search-clear {
    width: 1.25em;
    /* width: 0.75em; */
    height: auto;
}

.search-submit {
    display: none;
}




.hidden {
    display: none;
}

.hidden-but-present {
    visibility: hidden;
    /* display: none; */
}


@media (min-width: 500px) {
    .header-logo {
        font-size: 1.5rem;
    }

    .search-bar {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    .header-logo {
        font-size: 2rem;
    }

    .search-submit {
        display: block;

        margin-left: 0.25rem;
        margin-top: calc(0.25rem * -1);
        margin-bottom: calc(0.25rem * -1);
        margin-right: calc(0.5rem * -1);

        padding: 0 0.5rem;

        border-top-right-radius: 0.75em;
        border-bottom-right-radius: 0.75em;

        background-color: var(--clr-slate800);
    }

    .search-submit img {
        width: 1.4em;
    }
    
}

@media (min-width: 1024px) {
    .header-logo {
        font-size: 2.5rem;
    }

    .search-section {
        font-size: 1.1rem;
    }
}