@import './footer.css';

:root {
  --clr-sky50: #f0f9ff;
  --clr-sky300: #7dd3fc;
  --clr-sky500: #0ea5e9;
  --clr-sky950: #082f49;
  --clr-slate300: #cbd5e1;
  --clr-slate500: #64748b;
  --clr-slate800: #1e293b;
  --clr-slate900: #0f172a;
  --clr-slate950: #020617;
  --clr-red200: #fecaca;
  --clr-red600: #dc2626;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Open Sans', sans-serif;
  font-family: 'Oswald', 'Open Sans', sans-serif;
  min-width: 280px;
  color: var(--clr-sky50);
  background: var(--clr-slate900);
  /* background-color: var(--clr-slate950); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img,
picture,
video,
canvas,
img {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

button:hover {}

button:active, .return-btn:active {
  transform: scale(0.8);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

a, .link {
  all: unset;
  cursor: pointer;
}



/* Media Queries */
@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}