@import './results-page/header.css';
@import './results-page/error-message.css';
@import './results-page/loading.css';
@import './results-page/website-section.css';

.header {
    background-color: var(--clr-sky950);
    /* font-family: 'Oswald', 'Open Sans', sans-serif; */

    display: flex;
    justify-content: center;
}

.results-page-header {
    /* font-size: clamp(0.75rem, 3.5vw, 2rem); */
}

.results-container {
    /* padding-bottom: auto; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.results {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .results {
        max-width: 1024px;
    }
}