@import './results-page/header.css';
@import './results-page/error-message.css';
@import './results-page/loading.css';
@import './results-page/website-section.css';

.header {
    background-color: var(--clr-sky950);
    /* font-family: 'Oswald', 'Open Sans', sans-serif; */

    display: flex;
    justify-content: center;
}

.results-page-header {
    /* font-size: clamp(0.75rem, 3.5vw, 2rem); */
}

.results-container {
    /* padding-bottom: auto; */
    flex-grow: 1;
    min-height: 90vh;
    /* max-width: 100dvw; */
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.results {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.results-grid {
    display: grid;
    gap: 1rem;
}

.results-grid section {
    min-width: 0;
    min-height: 0;
}

@media (min-width: 890px) {
    .results-grid {
        grid-template-columns: repeat(2, 1fr);
        /* grid-auto-rows: 258px; */
    }
}

@media (min-width: 1024px) {
    .results {
        max-width: 1279px;
    }
}

@media (min-width: 1280px) {
    .results-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}